In [41]:
import os, sys
import kagglehub
import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Download latest version
path = kagglehub.dataset_download("kadiryildirim12/u-s-chronic-disease-indicators-cdi-2023-release")

print("Path to dataset files:", path)

os.listdir(path)

cdi_df = pd.read_csv(os.path.join(
    path,
    'U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')
    )

TOPICS = ['Chronic Obstructive Pulmonary Disease', 'Asthma', 'Cardiovascular Disease', 'Tobacco']
for topic in TOPICS:
    topic_formatted = topic.lower().replace(' ', '_')
    cdi_df.loc[cdi_df['Topic'] == topic, :].to_csv(f'{topic_formatted}.csv', index=False)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.5)
Path to dataset files: /Users/yeonsookim/.cache/kagglehub/datasets/kadiryildirim12/u-s-chronic-disease-indicators-cdi-2023-release/versions/1

/var/folders/3r/zljmfgh13vj0qjr8z8xyhxh40000gn/T/ipykernel_5239/3350626208.py:18: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  cdi_df = pd.read_csv(os.path.join(

In [2]:
cdi_df

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185671,2020,2020,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Age-adjusted Prevalence,...,56,DIA,DIA7_0,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185672,2020,2020,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged >= 65 years wh...,NaN,%,Crude Prevalence,...,56,OLD,OLD3_1,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185673,2017,2017,IA,Iowa,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Age-adjusted Prevalence,...,19,ART,ART2_1,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185674,2020,2020,WY,Wyoming,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,DIA,DIA2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185675,2019,2019,RI,Rhode Island,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Crude Prevalence,...,44,ART,ART2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [3]:
asthma = cdi_df[cdi_df['Topic'] == "Asthma"]
asthma

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185511,2020,2020,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST5_1,AGEADJPREV,RACE,BLK,NaN,NaN,NaN,NaN
1185519,2020,2020,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST6_2,AGEADJPREV,RACE,BLK,NaN,NaN,NaN,NaN
1185570,2020,2020,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,...,56,AST,AST5_2,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1185633,2020,2020,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,...,56,AST,AST6_2,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1185654,2020,2020,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST5_1,AGEADJPREV,GENDER,GENF,NaN,NaN,NaN,NaN

In [4]:
asthma['YearStart'].unique()

array([2014, 2018, 2017, 2010, 2015, 2013, 2016, 2020, 2012, 2019, 2011,
       2021])

In [5]:
asthma_2014 = asthma[(asthma['YearStart'] == 2014) & (asthma['YearEnd'] == 2014)]
asthma_2014

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
11,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,1,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
21,2014,2014,MD,Maryland,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,24,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
24,2014,2014,NC,North Carolina,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,37,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
184,2014,2014,ID,Idaho,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,16,AST,AST4_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181619,2014,2014,WY,Wyoming,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,AST,AST1_2,CRDPREV,RACE,OTH,NaN,NaN,NaN,NaN
1181633,2014,2014,WY,Wyoming,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,56,AST,AST1_1,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN
1181758,2014,2014,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,...,56,AST,AST5_2,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1181896,2014,2014,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,...,56,AST,AST6_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1181940,2014,2014,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST6_1,AGEADJPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [6]:
asthma_2015 = asthma[(asthma['YearStart'] == 2015) & (asthma['YearEnd'] == 2015)]
asthma_2016 = asthma[(asthma['YearStart'] == 2016) & (asthma['YearEnd'] == 2016)]
asthma_2017 = asthma[(asthma['YearStart'] == 2017) & (asthma['YearEnd'] == 2017)]
asthma_2018 = asthma[(asthma['YearStart'] == 2018) & (asthma['YearEnd'] == 2018)]
asthma_2019 = asthma[(asthma['YearStart'] == 2019) & (asthma['YearEnd'] == 2019)]
asthma_2020 = asthma[(asthma['YearStart'] == 2020) & (asthma['YearEnd'] == 2020)]
asthma_2021 = asthma[(asthma['YearStart'] == 2021) & (asthma['YearEnd'] == 2021)]
asthma_2021

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
529341,2021,2021,AL,Alabama,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,1,AST,AST1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
529360,2021,2021,KS,Kansas,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,20,AST,AST1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
529394,2021,2021,VA,Virginia,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,51,AST,AST1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
529649,2021,2021,AK,Alaska,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,...,2,AST,AST5_1,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
529706,2021,2021,AL,Alabama,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,...,1,AST,AST6_2,CRDPREV,RACE,OTH,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182019,2021,2021,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,...,56,AST,AST6_2,CRDPREV,RACE,OTH,NaN,NaN,NaN,NaN
1182131,2021,2021,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST6_1,AGEADJPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1182133,2021,2021,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST5_1,AGEADJPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1182260,2021,2021,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST6_2,AGEADJPREV,GENDER,GENM,NaN,NaN,NaN,NaN
1182482,2021,2021,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,...,56,AST,AST5_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [7]:
pm_2014 = pd.read_csv("Daily_Census_Tract-Level_PM2.5_Concentrations__2014.csv")

In [8]:
pm_2014

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd
0,2014,01JAN2014,12,12087,12087972600,24.54941,-81.79179,9.9932,9.6032
1,2014,01JAN2014,12,12087,12087972400,24.55265,-81.79997,9.8096,9.5746
2,2014,01JAN2014,12,12087,12087972300,24.55602,-81.79279,9.7349,9.1891
3,2014,01JAN2014,12,12087,12087972000,24.55621,-81.76469,9.6942,9.0292
4,2014,01JAN2014,12,12087,12087972200,24.55726,-81.78251,9.6435,9.4540
...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,17.3117,8.7892
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,19.6422,9.1034
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,18.4743,8.7455
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,20.1103,10.5236
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,14.6560,7.9503

In [9]:
pm_2014.columns

Index(['year', 'date', 'statefips', 'countyfips', 'ctfips', 'latitude',
       'longitude', 'ds_pm_pred', 'ds_pm_stdd'],
      dtype='object')

In [10]:
asthma_2014['LocationDesc'].unique()

array(['Arkansas', 'Alabama', 'Maryland', 'North Carolina', 'Idaho',
       'Kansas', 'Massachusetts', 'Alaska', 'Wisconsin', 'Nevada',
       'California', 'West Virginia', 'New Hampshire', 'Connecticut',
       'Puerto Rico', 'Virgin Islands', 'Guam', 'Vermont', 'Colorado',
       'Oregon', 'New Mexico', 'Delaware', 'Illinois', 'Pennsylvania',
       'Kentucky', 'Florida', 'Rhode Island', 'Virginia',
       'South Carolina', 'Texas', 'New York', 'New Jersey',
       'North Dakota', 'Louisiana', 'Maine', 'Missouri', 'Ohio',
       'Mississippi', 'Michigan', 'District of Columbia', 'Arizona',
       'Hawaii', 'Montana', 'Indiana', 'Minnesota', 'Oklahoma',
       'South Dakota', 'Iowa', 'Utah', 'Wyoming', 'Nebraska', 'Tennessee',
       'Georgia', 'Washington', 'United States'], dtype=object)

In [11]:
pm_2014['statefips']

0           12
1           12
2           12
3           12
4           12
            ..
26383290    53
26383291    53
26383292    53
26383293    53
26383294    53
Name: statefips, Length: 26383295, dtype: int64

In [12]:
asthma_2014.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [13]:
state_fips = {
    1: 'Alabama',
    2: 'Alaska',
    4: 'Arizona',
    5: 'Arkansas',
    6: 'California',
    8: 'Colorado',
    9: 'Connecticut',
    10: 'Delaware',
    11: 'District of Columbia',
    12: 'Florida',
    13: 'Georgia',
    15: 'Hawaii',
    16: 'Idaho',
    17: 'Illinois',
    18: 'Indiana',
    19: 'Iowa',
    20: 'Kansas',
    21: 'Kentucky',
    22: 'Louisiana',
    23: 'Maine',
    24: 'Maryland',
    25: 'Massachusetts',
    26: 'Michigan',
    27: 'Minnesota',
    28: 'Mississippi',
    29: 'Missouri',
    30: 'Montana',
    31: 'Nebraska',
    32: 'Nevada',
    33: 'New Hampshire',
    34: 'New Jersey',
    35: 'New Mexico',
    36: 'New York',
    37: 'North Carolina',
    38: 'North Dakota',
    39: 'Ohio',
    40: 'Oklahoma',
    41: 'Oregon',
    42: 'Pennsylvania',
    44: 'Rhode Island',
    45: 'South Carolina',
    46: 'South Dakota',
    47: 'Tennessee',
    48: 'Texas',
    49: 'Utah',
    50: 'Vermont',
    51: 'Virginia',
    53: 'Washington',
    54: 'West Virginia',
    55: 'Wisconsin',
    56: 'Wyoming'
}

In [14]:
pm_2011 = pd.read_csv("Daily_Census_Tract-Level_PM2.5_Concentrations__2011.csv")
pm_2011

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd
0,2011,16JAN2011,36,36067,36067016802,42.86482,-76.22294,7.163089,4.463915
1,2011,16JAN2011,36,36067,36067016901,42.81138,-76.13510,7.112696,4.424604
2,2011,16JAN2011,36,36067,36067016902,42.82194,-75.99122,7.090876,4.403247
3,2011,16JAN2011,36,36067,36067940000,42.94020,-76.15772,7.663674,4.654235
4,2011,16JAN2011,36,36069,36069050101,43.00244,-77.45370,6.471819,4.124993
...,...,...,...,...,...,...,...,...,...
26383290,2011,16JAN2011,36,36067,36067016501,42.93499,-76.32041,7.427548,4.472635
26383291,2011,16JAN2011,36,36067,36067016502,42.98960,-76.33489,7.620845,4.552469
26383292,2011,16JAN2011,36,36067,36067016600,42.97702,-76.41428,7.372709,4.600565
26383293,2011,16JAN2011,36,36067,36067016700,42.89961,-76.41221,7.512483,4.645402
26383294,2011,16JAN2011,36,36067,36067016801,42.83458,-76.29116,7.055351,4.426912

In [15]:
pm_2012 = pd.read_csv("Daily_Census_Tract-Level_PM2.5_Concentrations__2012.csv")
pm_2012

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd
0,2012,01JAN2012,12,12087,12087972600,24.54941,-81.79179,13.0316,8.2153
1,2012,01JAN2012,12,12087,12087972400,24.55265,-81.79997,12.8733,8.1733
2,2012,01JAN2012,12,12087,12087972300,24.55602,-81.79279,13.2430,8.3931
3,2012,01JAN2012,12,12087,12087972000,24.55621,-81.76469,13.1210,8.4654
4,2012,01JAN2012,12,12087,12087972200,24.55726,-81.78251,12.8908,7.9275
...,...,...,...,...,...,...,...,...,...
26455573,2012,31DEC2012,53,53073,53073010403,48.95131,-122.77596,14.3027,6.6580
26455574,2012,31DEC2012,53,53073,53073010301,48.95540,-122.53016,12.3689,5.7449
26455575,2012,31DEC2012,53,53073,53073010401,48.97138,-122.66349,13.6050,6.4977
26455576,2012,31DEC2012,53,53073,53073010303,48.97593,-122.43313,10.8419,5.0678
26455577,2012,31DEC2012,53,53073,53073011000,48.98832,-123.05754,15.2553,7.1316

In [16]:
pm_2013 = pd.read_csv("Daily_Census_Tract-Level_PM2.5_Concentrations__2013.csv")
pm_2013

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd
0,2012,01JAN2012,12,12087,12087972600,24.54941,-81.79179,13.0316,8.2153
1,2012,01JAN2012,12,12087,12087972400,24.55265,-81.79997,12.8733,8.1733
2,2012,01JAN2012,12,12087,12087972300,24.55602,-81.79279,13.2430,8.3931
3,2012,01JAN2012,12,12087,12087972000,24.55621,-81.76469,13.1210,8.4654
4,2012,01JAN2012,12,12087,12087972200,24.55726,-81.78251,12.8908,7.9275
...,...,...,...,...,...,...,...,...,...
26455573,2012,31DEC2012,53,53073,53073010403,48.95131,-122.77596,14.3027,6.6580
26455574,2012,31DEC2012,53,53073,53073010301,48.95540,-122.53016,12.3689,5.7449
26455575,2012,31DEC2012,53,53073,53073010401,48.97138,-122.66349,13.6050,6.4977
26455576,2012,31DEC2012,53,53073,53073010303,48.97593,-122.43313,10.8419,5.0678
26455577,2012,31DEC2012,53,53073,53073011000,48.98832,-123.05754,15.2553,7.1316

In [17]:
pm_2014['LocationDesc'] = pm_2014['statefips'].map(state_fips)
pm_2014

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd,LocationDesc
0,2014,01JAN2014,12,12087,12087972600,24.54941,-81.79179,9.9932,9.6032,Florida
1,2014,01JAN2014,12,12087,12087972400,24.55265,-81.79997,9.8096,9.5746,Florida
2,2014,01JAN2014,12,12087,12087972300,24.55602,-81.79279,9.7349,9.1891,Florida
3,2014,01JAN2014,12,12087,12087972000,24.55621,-81.76469,9.6942,9.0292,Florida
4,2014,01JAN2014,12,12087,12087972200,24.55726,-81.78251,9.6435,9.4540,Florida
...,...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,17.3117,8.7892,Washington
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,19.6422,9.1034,Washington
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,18.4743,8.7455,Washington
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,20.1103,10.5236,Washington
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,14.6560,7.9503,Washington

In [18]:
pm_2014['statefips'].unique()

array([12, 48, 22,  1, 28, 13,  4, 35, 45,  6,  5, 40, 37, 47, 32, 29, 21,
       51, 17, 20, 49,  8, 54, 18, 24, 39, 10, 11, 34, 42, 31, 19, 36,  9,
       56, 44, 25, 26, 41, 16, 55, 46, 33, 50, 23, 27, 30, 53, 38])

In [19]:
pm_2014['LocationDesc'].unique()

array(['Florida', 'Texas', 'Louisiana', 'Alabama', 'Mississippi',
       'Georgia', 'Arizona', 'New Mexico', 'South Carolina', 'California',
       'Arkansas', 'Oklahoma', 'North Carolina', 'Tennessee', 'Nevada',
       'Missouri', 'Kentucky', 'Virginia', 'Illinois', 'Kansas', 'Utah',
       'Colorado', 'West Virginia', 'Indiana', 'Maryland', 'Ohio',
       'Delaware', 'District of Columbia', 'New Jersey', 'Pennsylvania',
       'Nebraska', 'Iowa', 'New York', 'Connecticut', 'Wyoming',
       'Rhode Island', 'Massachusetts', 'Michigan', 'Oregon', 'Idaho',
       'Wisconsin', 'South Dakota', 'New Hampshire', 'Vermont', 'Maine',
       'Minnesota', 'Montana', 'Washington', 'North Dakota'], dtype=object)

In [20]:
pm_2014

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd,LocationDesc
0,2014,01JAN2014,12,12087,12087972600,24.54941,-81.79179,9.9932,9.6032,Florida
1,2014,01JAN2014,12,12087,12087972400,24.55265,-81.79997,9.8096,9.5746,Florida
2,2014,01JAN2014,12,12087,12087972300,24.55602,-81.79279,9.7349,9.1891,Florida
3,2014,01JAN2014,12,12087,12087972000,24.55621,-81.76469,9.6942,9.0292,Florida
4,2014,01JAN2014,12,12087,12087972200,24.55726,-81.78251,9.6435,9.4540,Florida
...,...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,17.3117,8.7892,Washington
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,19.6422,9.1034,Washington
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,18.4743,8.7455,Washington
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,20.1103,10.5236,Washington
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,14.6560,7.9503,Washington

In [21]:
# pm = pd.concat([pm_2011, pm_2012, pm_2013, pm_2014], axis=1)
pm = pd.concat([pm_2011, pm_2012, pm_2013, pm_2014])
pm

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd,LocationDesc
0,2011,16JAN2011,36,36067,36067016802,42.86482,-76.22294,7.163089,4.463915,NaN
1,2011,16JAN2011,36,36067,36067016901,42.81138,-76.13510,7.112696,4.424604,NaN
2,2011,16JAN2011,36,36067,36067016902,42.82194,-75.99122,7.090876,4.403247,NaN
3,2011,16JAN2011,36,36067,36067940000,42.94020,-76.15772,7.663674,4.654235,NaN
4,2011,16JAN2011,36,36069,36069050101,43.00244,-77.45370,6.471819,4.124993,NaN
...,...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,17.311700,8.789200,Washington
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,19.642200,9.103400,Washington
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,18.474300,8.745500,Washington
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,20.110300,10.523600,Washington
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,14.656000,7.950300,Washington

In [22]:
pm_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.sum(pm_2011['ds_pm_pred'])/len(pm_2011)), (np.sum(pm_2012['ds_pm_pred'])/len(pm_2012)), (np.sum(pm_2013['ds_pm_pred'])/len(pm_2013)), (np.sum(pm_2014['ds_pm_pred'])/len(pm_2014))]
    
}
pm_year = pd.DataFrame(pm_data)
pm_year

   year    avg_pm
0  2011  9.771093
1  2012  9.311493
2  2013  9.311493
3  2014  9.517065

In [23]:
top_loc = pm_2014['LocationDesc'].value_counts().nlargest(3) 

print(top_loc)

LocationDesc
California    2934600
Texas         1917710
New York      1788865
Name: count, dtype: int64

In [24]:
asthma_2014.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [25]:
top_loc = asthma_2017['LocationDesc'].value_counts().nlargest(3) 

print(top_loc)

LocationDesc
Georgia         158
Pennsylvania    158
Virginia        158
Name: count, dtype: int64

In [26]:
top_loc = asthma_2017['LocationDesc'].value_counts()

print(top_loc)

LocationDesc
Georgia                 158
Pennsylvania            158
Virginia                158
Rhode Island            158
Hawaii                  158
Minnesota               158
Connecticut             158
Colorado                158
Tennessee               158
New Hampshire           158
District of Columbia    158
Missouri                158
Oklahoma                158
Delaware                158
West Virginia           158
Nevada                  158
Wisconsin               158
Texas                   158
Vermont                 158
North Carolina          158
North Dakota            158
South Dakota            158
Iowa                    158
Nebraska                158
South Carolina          158
Michigan                158
Ohio                    158
Idaho                   158
Maryland                158
New York                158
Washington              158
Maine                   158
Wyoming                 158
Massachusetts           158
Alabama                 158
Arkansas                158
Montana                 158
Kentucky                158
Illinois                158
Alaska                  158
Florida                 158
Utah                    158
Louisiana               158
Mississippi             158
New Jersey              158
New Mexico              158
Indiana                 158
Oregon                  158
Kansas                  158
California              158
Arizona                 158
Puerto Rico             134
Guam                    134
Virgin Islands          134
United States            34
Name: count, dtype: int64

In [173]:
asthma_2014_copy = asthma_2014.copy()
asthma_2014_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2014_copy['DataValue'], errors='coerce')
asthma_2014_val = asthma_2014_copy['DataValue'].dropna()
asthma_2014_average_val = np.sum(asthma_2014_val) / len(asthma_2014_val)
asthma_2014_sum_val = np.sum(asthma_2014_val)

print(asthma_2014_average_val)

540.4292033856111

In [174]:
asthma_2015_copy = asthma_2015.copy()
asthma_2015_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2015_copy['DataValue'], errors='coerce')
asthma_2015_val = asthma_2015_copy['DataValue'].dropna()
asthma_2015_average_val = np.sum(asthma_2015_val) / len(asthma_2015_val)
asthma_2015_sum_val = np.sum(asthma_2015_val)

asthma_2016_copy = asthma_2016.copy()
asthma_2016_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2016_copy['DataValue'], errors='coerce')
asthma_2016_val = asthma_2016_copy['DataValue'].dropna()
asthma_2016_average_val = np.sum(asthma_2016_val) / len(asthma_2016_val)
asthma_2016_sum_val = np.sum(asthma_2016_val)

asthma_2017_copy = asthma_2017.copy()
asthma_2017_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2017_copy['DataValue'], errors='coerce')
asthma_2017_val = asthma_2017_copy['DataValue'].dropna()
asthma_2017_average_val = np.sum(asthma_2017_val) / len(asthma_2017_val)
asthma_2017_sum_val = np.sum(asthma_2017_val)

asthma_2018_copy = asthma_2018.copy()
asthma_2018_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2018_copy['DataValue'], errors='coerce')
asthma_2018_val = asthma_2018_copy['DataValue'].dropna()
asthma_2018_average_val = np.sum(asthma_2018_val) / len(asthma_2018_val)
asthma_2018_sum_val = np.sum(asthma_2018_val)

asthma_2019_copy = asthma_2019.copy()
asthma_2019_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2019_copy['DataValue'], errors='coerce')
asthma_2019_val = asthma_2019_copy['DataValue'].dropna()
asthma_2019_average_val = np.sum(asthma_2019_val) / len(asthma_2019_val)
asthma_2019_sum_val = np.sum(asthma_2019_val)

asthma_2020_copy = asthma_2020.copy()
asthma_2020_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2020_copy['DataValue'], errors='coerce')
asthma_2020_val = asthma_2020_copy['DataValue'].dropna()
asthma_2020_average_val = np.sum(asthma_2020_val) / len(asthma_2020_val)
asthma_2020_sum_val = np.sum(asthma_2020_val)

asthma_2021_copy = asthma_2021.copy()
asthma_2021_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2021_copy['DataValue'], errors='coerce')
asthma_2021_val = asthma_2021_copy['DataValue'].dropna()
asthma_2021_average_val = np.sum(asthma_2021_val) / len(asthma_2021_val)
asthma_2021_sum_val = np.sum(asthma_2021_val)

In [175]:
asthma_data = {
    'year': [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
    'asthma_count': [asthma_2014_sum_val, asthma_2015_sum_val, asthma_2016_sum_val, asthma_2017_sum_val, asthma_2018_sum_val, \
                    asthma_2019_sum_val, asthma_2020_sum_val, asthma_2021_sum_val]
}
asthma_year = pd.DataFrame(asthma_data)
asthma_year

   year  asthma_count
0  2014    2170904.11
1  2015    1452129.98
2  2016    1917928.42
3  2017    1563304.07
4  2018    1606476.03
5  2019     126357.80
6  2020     132457.50
7  2021     111202.50

In [176]:
three_year = pd.DataFrame({'avg_pm':pm_year[0:3]['avg_pm'], 'asthma_count': asthma_year[0:3]['asthma_count']})
three_year

     avg_pm  asthma_count
0  9.771093    2170904.11
1  9.311493    1452129.98
2  9.311493    1917928.42

In [177]:
sel_as = asthma_year[4:7].reset_index()
seven_year = pd.DataFrame({'avg_pm':pm_year[0:3]['avg_pm'], 'asthma_count': sel_as['asthma_count']})
seven_year

     avg_pm  asthma_count
0  9.771093    1606476.03
1  9.311493     126357.80
2  9.311493     132457.50

In [178]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="dark")
plt.style.use("ggplot")

from pymc import *
import pymc as pm
import bambi as bmb
import arviz as az

In [179]:
print(np.mean(asthma_2014_val))
print(np.mean(asthma_2015_val))
print(np.mean(asthma_2016_val))
print(np.mean(asthma_2017_val))
print(np.mean(asthma_2018_val))
print(np.mean(asthma_2019_val))
print(np.mean(asthma_2020_val))
print(np.mean(asthma_2021_val))

540.4292033856111
372.05482449397823
489.7672165474981
396.1743715154587
397.8395319465077
41.61982872200262
42.34574808184138
41.50895856662928

In [180]:
print(np.var(asthma_2014_val))
print(np.var(asthma_2015_val))
print(np.var(asthma_2016_val))
print(np.var(asthma_2017_val))
print(np.var(asthma_2018_val))
print(np.var(asthma_2019_val))
print(np.var(asthma_2020_val))
print(np.var(asthma_2021_val))

16951900.92151602
7522225.969216667
21359802.708582595
10905052.725415228
10718683.71811224
4876.138730668951
6324.842162228098
751.2404871199706

In [181]:
import statsmodels.api as sm

X = three_year[['avg_pm']]
X = sm.add_constant(X) 

y = three_year['asthma_count'] 


freq_model3 = sm.GLM(y, exog=X, family=sm.families.NegativeBinomial(alpha=1.0))
freq_res3 = freq_model3.fit()

print(freq_res3.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        1
Model Family:        NegativeBinomial   Df Model:                            1
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -46.265
Date:                Mon, 16 Dec 2024   Deviance:                     0.038577
Time:                        17:14:49   Pearson chi2:                   0.0382
No. Iterations:                     3   Pseudo R-squ. (CS):            0.01453
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.2042     25.228      0.365      0.715     -40.242      58.651
avg_pm         0.5513      2.665      0.207      0.836      -4.672       5.774
==============================================================================

In [182]:
pm_year.iloc[3]['avg_pm']

9.517064877566684

In [183]:
asthma_year.iloc[0]['asthma_count']

2170904.11

In [184]:
year_2014 = pd.DataFrame({'avg_pm':[pm_year.iloc[3]['avg_pm']], 'asthma_count': [asthma_year.iloc[0]['asthma_count']]})
year_2014

     avg_pm  asthma_count
0  9.517065    2170904.11

In [185]:
print(freq_res3.predict(sm.add_constant(pm_year.iloc[3])).iloc[1])

1887224.2532270814

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/statsmodels/genmod/families/links.py:527: RuntimeWarning: overflow encountered in exp
  return np.exp(z)

In [186]:
print(mean_squared_error(asthma_year.iloc[3][['asthma_count']], [freq_res3.predict(sm.add_constant(pm_year.iloc[3])).iloc[1]]))

104924285101.86594

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/statsmodels/genmod/families/links.py:527: RuntimeWarning: overflow encountered in exp
  return np.exp(z)

In [187]:
X2 = seven_year[['avg_pm']] 
X2 = sm.add_constant(X2)

y2 = seven_year['asthma_count'] 

freq_model4 = sm.GLM(y2, exog = X2, family=sm.families.NegativeBinomial(alpha=1.0))
freq_res4 = freq_model4.fit()

print(freq_res4.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        1
Model Family:        NegativeBinomial   Df Model:                            1
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -40.831
Date:                Mon, 16 Dec 2024   Deviance:                    0.0011112
Time:                        17:14:50   Pearson chi2:                  0.00111
No. Iterations:                     5   Pseudo R-squ. (CS):             0.7678
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -39.2608     25.228     -1.556      0.120     -88.707      10.186
avg_pm         5.4805      2.665      2.057      0.040       0.258      10.703
==============================================================================

In [188]:
print(freq_res4.predict(sm.add_constant(pm_year.iloc[3])).iloc[1])

399254.80607344105

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/statsmodels/genmod/families/links.py:527: RuntimeWarning: overflow encountered in exp
  return np.exp(z)

In [189]:
print(mean_squared_error(asthma_year.iloc[7][['asthma_count']], [freq_res4.predict(sm.add_constant(pm_year.iloc[3])).iloc[1]]))

82974131034.22746

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/statsmodels/genmod/families/links.py:527: RuntimeWarning: overflow encountered in exp
  return np.exp(z)

In [190]:
print("Negative Binomial AIC:", freq_res3.aic)
print("Negative Binomial AIC:", freq_res4.aic)

Negative Binomial AIC: 96.53048400580883
Negative Binomial AIC: 85.66201427113265

In [270]:

X_train = three_year[['avg_pm']].values  
y_train = three_year['asthma_count'].values 

X_test = year_2014[['avg_pm']]
y_test = asthma_year.iloc[3][['asthma_count']]

k = 3
knn_model = KNeighborsRegressor(n_neighbors=k)
knn_model.fit(X_train, y_train)

y_pred = knn_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)


print(f"Mean Squared Error: {mse:.2f}")


new_data = np.array(X_test) 
predicted_asthma_cases = knn_model.predict(new_data)
print(f"Predicted asthma cases for 2017 avg_pm: {predicted_asthma_cases[0]:.2f}")

Mean Squared Error: 80476290347.79
Predicted asthma cases for 2017 avg_pm: 1846987.50

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [271]:
X_train2 = seven_year[['avg_pm']].values 
y_train2 = seven_year['asthma_count'].values  

X_test = year_2014[['avg_pm']]
y_test2 = asthma_year.iloc[7][['asthma_count']]

k = 3  
knn_model2 = KNeighborsRegressor(n_neighbors=k)
knn_model2.fit(X_train2, y_train2)


y_pred2 = knn_model2.predict(X_test)


mse = mean_squared_error(y_test2, y_pred2)

print(f"Mean Squared Error: {mse:.2f}")



new_data = np.array(X_test) 
predicted_asthma_cases2 = knn_model2.predict(new_data)
print(f"Predicted asthma cases for 2021 avg_pm: {predicted_asthma_cases2[0]:.2f}")

Mean Squared Error: 260672817231.50
Predicted asthma cases for 2021 avg_pm: 621763.78

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [193]:
# by state/with ozone

In [194]:
oz_2014 = pd.read_csv("Daily_Census_Tract-Level_Ozone_Concentrations__2014.csv")
oz_2013 = pd.read_csv("Daily_Census_Tract-Level_Ozone_Concentrations__2013.csv")
oz_2012 = pd.read_csv("Daily_Census_Tract-Level_Ozone_Concentrations__2012.csv")
oz_2011 = pd.read_csv("Daily_Census_Tract-Level_Ozone_Concentrations__2011.csv")
oz_2014

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_o3_pred,ds_o3_stdd
0,2014,01JAN2014,12,12087,12087972600,24.54941,-81.79179,35.2535,8.1593
1,2014,01JAN2014,12,12087,12087972400,24.55265,-81.79997,35.0738,8.1476
2,2014,01JAN2014,12,12087,12087972300,24.55602,-81.79279,35.2918,8.0431
3,2014,01JAN2014,12,12087,12087972000,24.55621,-81.76469,35.0958,8.1774
4,2014,01JAN2014,12,12087,12087972200,24.55726,-81.78251,35.3524,8.2237
...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,18.8794,4.3380
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,17.8030,4.1119
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,17.9331,4.1123
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,17.3673,4.0695
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,19.4663,4.3365

In [195]:
oz_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_oz': [(np.sum(oz_2011['ds_o3_pred'])/len(oz_2011)), (np.sum(oz_2012['ds_o3_pred'])/len(oz_2012)), (np.sum(oz_2013['ds_o3_pred'])/len(oz_2013)), (np.sum(oz_2014['ds_o3_pred'])/len(oz_2014))]
    
}
oz_year = pd.DataFrame(oz_data)
oz_year

   year     avg_oz
0  2011  39.628483
1  2012  39.880135
2  2013  38.189528
3  2014  37.918796

In [196]:
three_year2 = pd.DataFrame({'avg_pm':pm_year[0:3]['avg_pm'], 'avg_oz': oz_year[0:3]['avg_oz'], 'asthma_count': asthma_year[0:3]['asthma_count']})
three_year2

     avg_pm     avg_oz  asthma_count
0  9.771093  39.628483    2170904.11
1  9.311493  39.880135    1452129.98
2  9.311493  38.189528    1917928.42

In [197]:
X5 = three_year2[['avg_pm', 'avg_oz']]
X5 = sm.add_constant(X5) 

y5 = three_year2['asthma_count'] 


freq_model5 = sm.GLM(y5, exog=X5, family=sm.families.NegativeBinomial(alpha=1.0))
freq_res5 = freq_model5.fit()

print(freq_res5.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        0
Model Family:        NegativeBinomial   Df Model:                            2
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -46.246
Date:                Mon, 16 Dec 2024   Deviance:                   2.9336e-10
Time:                        17:15:21   Pearson chi2:                 2.10e-19
No. Iterations:                     3   Pseudo R-squ. (CS):            0.02712
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.4436     33.865      0.397      0.691     -52.931      79.819
avg_pm         0.7848      2.876      0.273      0.785      -4.851       6.421
avg_oz        -0.1646      0.837     -0.197      0.844      -1.804       1.475
==============================================================================

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/statsmodels/regression/_tools.py:121: RuntimeWarning: divide by zero encountered in scalar divide
  scale = np.dot(wresid, wresid) / df_resid

In [198]:
pm_year.iloc[3]['avg_pm']

9.517064877566684

In [199]:
predict_data = pd.DataFrame({'avg_pm':[pm_year.iloc[3]['avg_pm']], 'avg_oz': [oz_year.iloc[3]['avg_oz']], 'asthma_count': [asthma_year.iloc[3]['asthma_count']]})
predict_data
# predict_data = pd.DataFrame({'avg_pm':[pm_year.iloc[3]['avg_pm']], 'avg_oz': [oz_year.iloc[3]['avg_oz']]})
# predict_data

     avg_pm     avg_oz  asthma_count
0  9.517065  37.918796    1563304.07

In [200]:
# predict_data = pd.DataFrame({'avg_pm':[pm_year.iloc[3]['avg_pm']], 'avg_oz': [oz_year.iloc[3]['avg_oz']]})
print(freq_res5.predict(sm.add_constant(predict_data)))

0    0.0
dtype: float64

In [201]:
print(mean_squared_error(asthma_year.iloc[3][['asthma_count']], [freq_res5.predict(sm.add_constant(predict_data))]))

2443919615278.565

In [202]:
print(pm_2014['statefips'].value_counts().head())
print(pm_2013['statefips'].value_counts().head())
print(pm_2012['statefips'].value_counts().head())
print(pm_2011['statefips'].value_counts().head())

statefips
6     2934600
48    1917710
36    1788865
12    1535920
42    1174205
Name: count, dtype: int64
statefips
6     2942640
48    1922964
36    1793766
12    1540128
42    1177422
Name: count, dtype: int64
statefips
6     2942640
48    1922964
36    1793766
12    1540128
42    1177422
Name: count, dtype: int64
statefips
6     2934600
48    1917710
36    1788865
12    1535920
42    1174205
Name: count, dtype: int64

In [203]:
state_2014_avg = pm_2014.groupby('statefips')['ds_pm_pred'].mean()
state_2014_avg.sort_values(ascending=False).head()

statefips
17    12.126285
18    11.816501
39    11.393318
1     11.007064
21    10.838100
Name: ds_pm_pred, dtype: float64

In [204]:
state_2013_avg = pm_2013.groupby('statefips')['ds_pm_pred'].mean()
state_2013_avg.sort_values(ascending=False).head()

statefips
39    11.273622
17    11.200066
18    11.015160
42    10.493728
1     10.396601
Name: ds_pm_pred, dtype: float64

In [205]:
state_2012_avg = pm_2012.groupby('statefips')['ds_pm_pred'].mean()
state_2012_avg.sort_values(ascending=False).head()

statefips
39    11.273622
17    11.200066
18    11.015160
42    10.493728
1     10.396601
Name: ds_pm_pred, dtype: float64

In [206]:
state_2011_avg = pm_2011.groupby('statefips')['ds_pm_pred'].mean()
state_2011_avg.sort_values(ascending=False).head()

statefips
39    11.594089
17    11.430606
13    11.359919
18    11.275903
29    10.774184
Name: ds_pm_pred, dtype: float64

In [207]:
state_2014_avg_oz = oz_2014.groupby('statefips')['ds_o3_pred'].mean()
state_2014_avg_oz.sort_values(ascending=False).head(10)

statefips
4     45.711301
32    44.957308
35    44.668228
8     44.173623
56    43.678766
49    42.489598
6     41.776423
40    40.038826
37    39.901301
20    39.144505
Name: ds_o3_pred, dtype: float64

In [208]:
state_2013_avg_oz = oz_2013.groupby('statefips')['ds_o3_pred'].mean()
state_2013_avg_oz.sort_values(ascending=False).head(10)

statefips
4     46.597212
35    46.254348
8     46.059533
32    45.370755
56    45.122276
49    43.022084
40    41.783031
20    40.463245
6     40.421595
48    39.755751
Name: ds_o3_pred, dtype: float64

In [209]:
oz_2014

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_o3_pred,ds_o3_stdd
0,2014,01JAN2014,12,12087,12087972600,24.54941,-81.79179,35.2535,8.1593
1,2014,01JAN2014,12,12087,12087972400,24.55265,-81.79997,35.0738,8.1476
2,2014,01JAN2014,12,12087,12087972300,24.55602,-81.79279,35.2918,8.0431
3,2014,01JAN2014,12,12087,12087972000,24.55621,-81.76469,35.0958,8.1774
4,2014,01JAN2014,12,12087,12087972200,24.55726,-81.78251,35.3524,8.2237
...,...,...,...,...,...,...,...,...,...
26383290,2014,31DEC2014,53,53073,53073010403,48.95131,-122.77596,18.8794,4.3380
26383291,2014,31DEC2014,53,53073,53073010301,48.95540,-122.53016,17.8030,4.1119
26383292,2014,31DEC2014,53,53073,53073010401,48.97138,-122.66349,17.9331,4.1123
26383293,2014,31DEC2014,53,53073,53073010303,48.97593,-122.43313,17.3673,4.0695
26383294,2014,31DEC2014,53,53073,53073011000,48.98832,-123.05754,19.4663,4.3365

In [210]:
state_2012_avg_oz = oz_2012.groupby('statefips')['ds_o3_pred'].mean()
state_2012_avg_oz.sort_values(ascending=False).head()

statefips
8     47.556569
32    47.303892
4     47.282352
35    47.267651
56    46.146287
Name: ds_o3_pred, dtype: float64

In [211]:
asthma_2014

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
11,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,1,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
21,2014,2014,MD,Maryland,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,24,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
24,2014,2014,NC,North Carolina,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,37,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
184,2014,2014,ID,Idaho,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,16,AST,AST4_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181619,2014,2014,WY,Wyoming,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,AST,AST1_2,CRDPREV,RACE,OTH,NaN,NaN,NaN,NaN
1181633,2014,2014,WY,Wyoming,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,56,AST,AST1_1,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN
1181758,2014,2014,WY,Wyoming,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,...,56,AST,AST5_2,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1181896,2014,2014,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,...,56,AST,AST6_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1181940,2014,2014,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,...,56,AST,AST6_1,AGEADJPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [212]:
asthma_2014['DataValue'] = pd.to_numeric(asthma_2014['DataValue'], errors='coerce')

# Group by 'LocationDesc' and sum the 'DataValue' column
state_asthma_2014 = asthma_2014.groupby('LocationDesc')['DataValue'].sum()

# Sort the summed values in descending order and display the top 5
top_states = state_asthma_2014.sort_values(ascending=False).head()
print(top_states)

LocationDesc
Florida           478567.21
New Jersey        238282.18
Georgia           214484.29
North Carolina    203591.59
Maryland          157821.95
Name: DataValue, dtype: float64

/var/folders/3r/zljmfgh13vj0qjr8z8xyhxh40000gn/T/ipykernel_5239/3924236759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asthma_2014['DataValue'] = pd.to_numeric(asthma_2014['DataValue'], errors='coerce')

In [214]:
np.mean(pm_2012[pm_2012['statefips'] == 17]['ds_pm_pred'])

11.200065961326665

In [278]:
illinois17_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.mean(pm_2011[pm_2011['statefips'] == 17]['ds_pm_pred'])), \
                (np.mean(pm_2012[pm_2012['statefips'] == 17]['ds_pm_pred'])), \
                (np.mean(pm_2013[pm_2013['statefips'] == 17]['ds_pm_pred'])), \
                (np.mean(pm_2014[pm_2014['statefips'] == 17]['ds_pm_pred']))]
}
illinois17 = pd.DataFrame(illinois17_data)
illinois17

   year     avg_pm
0  2011  11.430606
1  2012  11.200066
2  2013  11.200066
3  2014  12.126285

In [230]:
indiana18_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.mean(pm_2011[pm_2011['statefips'] == 18]['ds_pm_pred'])), \
                (np.mean(pm_2012[pm_2012['statefips'] == 18]['ds_pm_pred'])), \
                (np.mean(pm_2013[pm_2013['statefips'] == 18]['ds_pm_pred'])), \
                (np.mean(pm_2014[pm_2014['statefips'] == 18]['ds_pm_pred']))]
    
}
indiana18 = pd.DataFrame(indiana18_data)
indiana18

   year     avg_pm
0  2011  11.275903
1  2012  11.015160
2  2013  11.015160
3  2014  11.816501

In [231]:
ohio39_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.mean(pm_2011[pm_2011['statefips'] == 39]['ds_pm_pred'])), \
                (np.mean(pm_2012[pm_2012['statefips'] == 39]['ds_pm_pred'])), \
                (np.mean(pm_2013[pm_2013['statefips'] == 39]['ds_pm_pred'])), \
                (np.mean(pm_2014[pm_2014['statefips'] == 39]['ds_pm_pred']))]
    
}
ohio39 = pd.DataFrame(ohio39_data)
ohio39

   year     avg_pm
0  2011  11.594089
1  2012  11.273622
2  2013  11.273622
3  2014  11.393318

In [232]:
alabama1_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.mean(pm_2011[pm_2011['statefips'] == 1]['ds_pm_pred'])), \
                (np.mean(pm_2012[pm_2012['statefips'] == 1]['ds_pm_pred'])), \
                (np.mean(pm_2013[pm_2013['statefips'] == 1]['ds_pm_pred'])), \
                (np.mean(pm_2014[pm_2014['statefips'] == 1]['ds_pm_pred']))]
    
}
alabama1 = pd.DataFrame(alabama1_data)
alabama1

   year     avg_pm
0  2011  10.696324
1  2012  10.396601
2  2013  10.396601
3  2014  11.007064

In [233]:
kentucky21_data = {
    'year': [2011, 2012, 2013, 2014],
    'avg_pm': [(np.mean(pm_2011[pm_2011['statefips'] == 21]['ds_pm_pred'])), \
                (np.mean(pm_2012[pm_2012['statefips'] == 21]['ds_pm_pred'])), \
                (np.mean(pm_2013[pm_2013['statefips'] == 21]['ds_pm_pred'])), \
                (np.mean(pm_2014[pm_2014['statefips'] == 21]['ds_pm_pred']))]
    
}
kentucky21 = pd.DataFrame(kentucky21_data)
kentucky21

   year     avg_pm
0  2011  10.726708
1  2012  10.106869
2  2013  10.106869
3  2014  10.838100

In [235]:
asthma_2014_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2014_copy['DataValue'], errors='coerce')
illinois_asthma_2014_val = asthma_2014_copy[asthma_2014_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2014_sum_val = np.sum(illinois_asthma_2014_val)
print(illinois_asthma_2014_sum_val)

asthma_2015_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2015_copy['DataValue'], errors='coerce')
illinois_asthma_2015_val = asthma_2015_copy[asthma_2015_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2015_sum_val = np.sum(illinois_asthma_2015_val)
print(illinois_asthma_2015_sum_val)

asthma_2016_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2016_copy['DataValue'], errors='coerce')
illinois_asthma_2016_val = asthma_2016_copy[asthma_2016_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2016_sum_val = np.sum(illinois_asthma_2016_val)
print(illinois_asthma_2016_sum_val)

asthma_2017_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2017_copy['DataValue'], errors='coerce')
illinois_asthma_2017_val = asthma_2017_copy[asthma_2017_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2017_sum_val = np.sum(illinois_asthma_2017_val)
print(illinois_asthma_2017_sum_val)

asthma_2018_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2018_copy['DataValue'], errors='coerce')
illinois_asthma_2018_val = asthma_2018_copy[asthma_2018_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2018_sum_val = np.sum(illinois_asthma_2018_val)
print(illinois_asthma_2018_sum_val)

asthma_2019_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2019_copy['DataValue'], errors='coerce')
illinois_asthma_2019_val = asthma_2019_copy[asthma_2019_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2019_sum_val = np.sum(illinois_asthma_2019_val)
print(illinois_asthma_2019_sum_val)

asthma_2020_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2020_copy['DataValue'], errors='coerce')
illinois_asthma_2020_val = asthma_2020_copy[asthma_2020_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2020_sum_val = np.sum(illinois_asthma_2020_val)
print(illinois_asthma_2020_sum_val)

asthma_2021_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2021_copy['DataValue'], errors='coerce')
illinois_asthma_2021_val = asthma_2021_copy[asthma_2021_copy['LocationDesc'] == 'Illinois']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
illinois_asthma_2021_sum_val = np.sum(illinois_asthma_2021_val)
print(illinois_asthma_2021_sum_val)

2458.7000000000003
2502.9999999999995
2339.7000000000007
2308.5000000000005
2181.2
2578.400000000001
2455.0
1793.7000000000003

In [236]:
illinois_three_year = pd.DataFrame({'avg_pm':illinois17[0:3]['avg_pm'], \
                                    'asthma_count': [illinois_asthma_2014_sum_val, illinois_asthma_2015_sum_val, illinois_asthma_2016_sum_val]})
illinois_three_year

      avg_pm  asthma_count
0  11.430606        2458.7
1  11.200066        2503.0
2  11.200066        2339.7

In [262]:
il_X = illinois_three_year[['avg_pm']]
il_X = sm.add_constant(il_X) 

il_y = illinois_three_year['asthma_count'] 


il_freq_model = sm.GLM(il_y, exog=il_X, family=sm.families.NegativeBinomial(alpha=1.0))
il_freq_res = il_freq_model.fit()

print(il_freq_res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        1
Model Family:        NegativeBinomial   Df Model:                            1
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -26.392
Date:                Mon, 16 Dec 2024   Deviance:                    0.0022745
Time:                        17:52:52   Pearson chi2:                  0.00227
No. Iterations:                     3   Pseudo R-squ. (CS):          5.214e-05
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.0484     59.924      0.118      0.906    -110.400     124.496
avg_pm         0.0664      5.314      0.012      0.990     -10.348      10.481
==============================================================================

In [264]:
print(illinois_asthma_2017_sum_val)
print(il_freq_res.predict(sm.add_constant(illinois17.iloc[3])).iloc[1])
print(mean_squared_error([illinois_asthma_2017_sum_val], [il_freq_res.predict(sm.add_constant(illinois17.iloc[3])).iloc[1]]))

2308.5000000000005
2574.9359489209614
70988.11487741293

In [259]:
asthma_2014_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2014_copy['DataValue'], errors='coerce')
indiana_asthma_2014_val = asthma_2014_copy[asthma_2014_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2014_sum_val = np.sum(indiana_asthma_2014_val)
print(indiana_asthma_2014_sum_val)

asthma_2015_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2015_copy['DataValue'], errors='coerce')
indiana_asthma_2015_val = asthma_2015_copy[asthma_2015_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2015_sum_val = np.sum(indiana_asthma_2015_val)
print(indiana_asthma_2015_sum_val)

asthma_2016_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2016_copy['DataValue'], errors='coerce')
indiana_asthma_2016_val = asthma_2016_copy[asthma_2016_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2016_sum_val = np.sum(indiana_asthma_2016_val)
print(indiana_asthma_2016_sum_val)

asthma_2017_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2017_copy['DataValue'], errors='coerce')
indiana_asthma_2017_val = asthma_2017_copy[asthma_2017_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2017_sum_val = np.sum(indiana_asthma_2017_val)
print(indiana_asthma_2017_sum_val)

asthma_2018_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2018_copy['DataValue'], errors='coerce')
indiana_asthma_2018_val = asthma_2018_copy[asthma_2018_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2018_sum_val = np.sum(indiana_asthma_2018_val)
print(indiana_asthma_2018_sum_val)

asthma_2019_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2019_copy['DataValue'], errors='coerce')
indiana_asthma_2019_val = asthma_2019_copy[asthma_2019_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2019_sum_val = np.sum(indiana_asthma_2019_val)
print(indiana_asthma_2019_sum_val)

asthma_2020_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2020_copy['DataValue'], errors='coerce')
indiana_asthma_2020_val = asthma_2020_copy[asthma_2020_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2020_sum_val = np.sum(indiana_asthma_2020_val)
print(indiana_asthma_2020_sum_val)

asthma_2021_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2021_copy['DataValue'], errors='coerce')
indiana_asthma_2021_val = asthma_2021_copy[asthma_2021_copy['LocationDesc'] == 'Indiana']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
indiana_asthma_2021_sum_val = np.sum(indiana_asthma_2021_val)
print(indiana_asthma_2021_sum_val)

2482.7000000000007
2515.6
2467.899999999999
2918.7599999999998
2222.600000000001
2627.2000000000007
2613.9999999999995
2213.1

In [265]:
indiana_three_year = pd.DataFrame({'avg_pm':indiana18[0:3]['avg_pm'], \
                                    'asthma_count': [indiana_asthma_2014_sum_val, indiana_asthma_2015_sum_val, indiana_asthma_2016_sum_val]})
indiana_three_year

in_X = indiana_three_year[['avg_pm']]
in_X = sm.add_constant(in_X) 

in_y = indiana_three_year['asthma_count'] 


in_freq_model = sm.GLM(in_y, exog=in_X, family=sm.families.NegativeBinomial(alpha=1.0))
in_freq_res = in_freq_model.fit()

print(in_freq_res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        1
Model Family:        NegativeBinomial   Df Model:                            1
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -26.459
Date:                Mon, 16 Dec 2024   Deviance:                   0.00018317
Time:                        17:53:46   Pearson chi2:                 0.000183
No. Iterations:                     2   Pseudo R-squ. (CS):          2.940e-06
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.9745     52.162      0.153      0.878     -94.260     110.209
avg_pm        -0.0140      4.698     -0.003      0.998      -9.222       9.194
==============================================================================

In [266]:
print(indiana_asthma_2017_sum_val)
print(in_freq_res.predict(sm.add_constant(indiana18.iloc[3])).iloc[1])
print(mean_squared_error([indiana_asthma_2017_sum_val], [in_freq_res.predict(sm.add_constant(indiana18.iloc[3])).iloc[1]]))

2918.7599999999998
2464.0412347301794
206769.15548850995

In [267]:
asthma_2014_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2014_copy['DataValue'], errors='coerce')
ohio_asthma_2014_val = asthma_2014_copy[asthma_2014_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2014_sum_val = np.sum(ohio_asthma_2014_val)
print(ohio_asthma_2014_sum_val)

asthma_2015_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2015_copy['DataValue'], errors='coerce')
ohio_asthma_2015_val = asthma_2015_copy[asthma_2015_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2015_sum_val = np.sum(ohio_asthma_2015_val)
print(ohio_asthma_2015_sum_val)

asthma_2016_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2016_copy['DataValue'], errors='coerce')
ohio_asthma_2016_val = asthma_2016_copy[asthma_2016_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2016_sum_val = np.sum(ohio_asthma_2016_val)
print(ohio_asthma_2016_sum_val)

asthma_2017_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2017_copy['DataValue'], errors='coerce')
ohio_asthma_2017_val = asthma_2017_copy[asthma_2017_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2017_sum_val = np.sum(ohio_asthma_2017_val)
print(ohio_asthma_2017_sum_val)

asthma_2018_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2018_copy['DataValue'], errors='coerce')
ohio_asthma_2018_val = asthma_2018_copy[asthma_2018_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2018_sum_val = np.sum(ohio_asthma_2018_val)
print(ohio_asthma_2018_sum_val)

asthma_2019_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2019_copy['DataValue'], errors='coerce')
ohio_asthma_2019_val = asthma_2019_copy[asthma_2019_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2019_sum_val = np.sum(ohio_asthma_2019_val)
print(ohio_asthma_2019_sum_val)

asthma_2020_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2020_copy['DataValue'], errors='coerce')
ohio_asthma_2020_val = asthma_2020_copy[asthma_2020_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2020_sum_val = np.sum(ohio_asthma_2020_val)
print(ohio_asthma_2020_sum_val)

asthma_2021_copy.loc[:, 'DataValue'] = pd.to_numeric(asthma_2021_copy['DataValue'], errors='coerce')
ohio_asthma_2021_val = asthma_2021_copy[asthma_2021_copy['LocationDesc'] == 'Ohio']['DataValue'].dropna()
# illinois_asthma_2015_average_val = np.sum(illinois_asthma_2015_val) / len(illinois_asthma_2015_val)
ohio_asthma_2021_sum_val = np.sum(ohio_asthma_2021_val)
print(ohio_asthma_2021_sum_val)

2634.9
2791.7
2673.100000000001
2960.2999999999997
2594.800000000001
2842.6
2859.0000000000014
2419.7

In [268]:
ohio_three_year = pd.DataFrame({'avg_pm':ohio39[0:3]['avg_pm'], \
                                    'asthma_count': [ohio_asthma_2014_sum_val, ohio_asthma_2015_sum_val, ohio_asthma_2016_sum_val]})
ohio_three_year

oh_X = ohio_three_year[['avg_pm']]
oh_X = sm.add_constant(oh_X) 

oh_y = ohio_three_year['asthma_count'] 


oh_freq_model = sm.GLM(oh_y, exog=oh_X, family=sm.families.NegativeBinomial(alpha=1.0))
oh_freq_res = oh_freq_model.fit()

print(oh_freq_res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           asthma_count   No. Observations:                    3
Model:                            GLM   Df Residuals:                        1
Model Family:        NegativeBinomial   Df Model:                            1
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -26.703
Date:                Mon, 16 Dec 2024   Deviance:                   0.00094188
Time:                        19:56:52   Pearson chi2:                 0.000942
No. Iterations:                     3   Pseudo R-squ. (CS):          0.0002920
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.1912     43.505      0.211      0.833     -76.077      94.460
avg_pm        -0.1134      3.822     -0.030      0.976      -7.605       7.379
==============================================================================

In [272]:
print(ohio_asthma_2017_sum_val)
print(oh_freq_res.predict(sm.add_constant(ohio39.iloc[3])).iloc[1])
print(mean_squared_error([ohio_asthma_2017_sum_val], [oh_freq_res.predict(sm.add_constant(ohio39.iloc[3])).iloc[1]]))

2960.2999999999997
2695.5680384082375
70083.01148822227